<!-- Sidebar Partial -->
<aside
	style="
		width: 250px;
		padding: 20px;
		background-color: #2c3e50;
		color: #ecf0f1;
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
		height: 100vh;
		display: flex;
		flex-direction: column;
	"
>
	<h1 style="font-size: 1.8em; margin-bottom: 30px; text-align: center">
		Gunpla
	</h1>
	<nav>
		<ul style="list-style-type: none; padding: 0; margin: 0">
			<li style="margin-bottom: 15px">
				<a
					href="/"
					style="
						text-decoration: none;
						color: #ecf0f1;
						font-size: 1.2em;
						display: block;
						padding: 10px;
						border-radius: 5px;
						transition: background-color 0.3s ease;
					"
					>Home</a
				>
			</li>
			<li style="margin-bottom: 15px">
				<a
					href="/items"
					style="
						text-decoration: none;
						color: #ecf0f1;
						font-size: 1.2em;
						display: block;
						padding: 10px;
						border-radius: 5px;
						transition: background-color 0.3s ease;
					"
					>Items</a
				>
			</li>
			<li>
				<a
					href="/categories"
					style="
						text-decoration: none;
						color: #ecf0f1;
						font-size: 1.2em;
						display: block;
						padding: 10px;
						border-radius: 5px;
						transition: background-color 0.3s ease;
					"
					>Categories</a
				>
			</li>
		</ul>
	</nav>
</aside>
