<div class="sidebar">
	<h2>Categories</h2>
	<ul>
		<% if (categories && categories.length) { %> <%
		categories.forEach(category => { %>
		<li>
			<a href="/categories/<%= category.id %>"><%= category.name %></a>
		</li>
		<% }) %> <% } else { %>
		<p>No categories available.</p>
		<% } %>
	</ul>
</div>
