<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome to Gunpla Inventory</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <div class="hero">
            <h1 class="massive-gundam">GUNDAM</h1>
            <div class="hero-overlay">
                <h2>Welcome to Gunpla Inventory</h2>
                <p>Manage your Gunpla models effortlessly.</p>
                <div class="links">
                    <a href="/items"
                        >Check it out! <i class="fa-solid fa-arrow-right"></i
                    ></a>
                </div>
            </div>
        </div>
    </body>
</html>
